# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*~
*.swp
*.swo

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz

# Python
__pycache__/
*.pyc

# Build
build/
dist/

# Virtual environments
.venv/
venv/

# LibreOffice temporary files
.~lock.*

# VirtualBox
*.vdi
*.vbox-prev
*.sav
*.log

# Видео лабораторных работ
Лабораторная_*/Видео/
